/* class to hide content */
.hidden {
    display: none;
}

/* class to style and position quotes */
.quote {
    visibility: hidden;
    position: absolute;
    opacity: 0;
    color: black;
    transition: opacity 600ms, visibility 600ms
}

/* class to show quote whn javascript cycles */
.quote.unhidden {
    color: white;
    opacity: 1;
    visibility: visible;
}

/* class to define the container that holds home page quotes */
.quote-container {
    width: 1000px;
    font-size: 32px;
    word-wrap: break-word;
}

/* Generic styling for all butttons */
button {
    padding: 5px 10px;
    border: 1px solid black;
    transition: 250ms background-color;
}

/* Generic styling for all butttons */
button:hover {
    cursor: pointer;
    background-color: #645957;
    color: white;
}

/* class to center text in a container */
.text-center {
    text-align: center;
}

/* class defining container for import display */
.container-import {
    width: 600px;
    max-width: 600px;
    margin: 20px auto 0px auto;
    padding: 40px;
    text-align: center;
}

/* Id tag for progress stepper that is no obsolete, keeping for continuity */
#stepProgressBar {
    display: flex;
    width: auto;
    margin: 0 auto;
    margin-bottom: 40px;
    justify-content: space-between;
    align-items: flex-end;
}

/* class tag for progress stepper that is no obsolete, keeping for continuity */
.step {
    text-align: center;
    width: 75px;
}

/* class tag for progress stepper that is no obsolete, keeping for continuity */
.step-text {
    margin-bottom: 10px;
    justify-content: center;
    color: white;
}

/* class tag for progress stepper that is no obsolete, keeping for continuity */
.bullet {
    height: 30px;
    width: 30px;
    border-radius: 100%;
    border: 1px solid white;
    color: white;
    display: inline-block;
    position: relative;
    transition: background-color 1000ms;
    padding-top: 4px;
    line-height: 20px;
}

/* class tag for progress stepper that is no obsolete, keeping for continuity */
.bullet.completed {
    color: black;
    background-color: #8B7A78;
    border: 1px solid black;
}

/* class tag for progress stepper that is no obsolete, keeping for continuity */
.bullet.completed::after {
    content: '';
    position: absolute;
    width: 100px;
    height: 3px;
    background-color: #8B7A78;
    right: -110px;
    bottom: 10px;
}

/* class for setting main background */
.main-bg {
    color: white;
    background-color: #413B4B;
}

/* class defining alternate background color */
.secondary-bg {
    color: white;
    background-color: #312A34;
}

/* navigate background formatting */
.nav-bg {
    color: black;
    background-color: #8B7A78;
    border: 1px solid black;
}

/* navigate background formatting */
.nav-bg:hover {
    cursor: pointer;
    background-color: #645957;
    color: white;
}

/* class defining button lengths */
.admin-btn-width {
    width: 300px;
}

/* class tag for progress stepper that is no obsolete, keeping for continuity */
.delete-bg {
    color: black;
    background-color: red;
    border: 1px solid black;
}

/* class tag for progress stepper that is no obsolete, keeping for continuity */
.delete-bg:hover {
    cursor: pointer;
    background-color: rgb(165, 4, 4);
    color: white;
}

/* ID defining container size */
#container
{
    height:2000px;    
}

/* class tag for progress stepper that is no obsolete, keeping for continuity */
.hiddenPanel
{
    opacity:0;
}

/* main panel for background color on import page */
.panel-bg {
    color: white;
    background-color: #312A34;
    border: 1px solid black;
    margin:40px; 
    padding:20px; 
}

/* class for button customization */
.button-sp {
    padding-bottom:30px; 
}

/* class for upload button on import page */
.upload-btn {
    height: 35px;
    text-align: center;
    padding: 5px;
}

/* class for border of upload area */
.upload-area {
    padding-top: 1rem;
    border: 2px solid black;
}

/* Style the tab buttons */
.tablink{
    background-color: #8B7A78;
    color: black;
    border: 2px solid black;
    cursor: pointer;
    font-size: 17px;
    width: 25%;
}

/* class to changes tab color when selected */
.darkTab {
    background-color: #645957;
    border: 2px solid black;
    color: white;
}

/* class for border surrounding the manaul upload */
.manualBorder {
    border: 2px solid black;
}